          body { padding: 8px; margin:0 }
#unity-container { position: fixed}
#unity-container.unity-desktop { left: 18%; top: 15%; transform: translate(-50%, -50%) float:bottom}
#unity-container.unity-mobile { width: 100%; height: 100% }
#unity-canvas { background: #231F20 }
.unity-mobile #unity-canvas { width: 100%; height: 100% }
#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none }
#unity-logo { width: 154px; height: 130px; background: url('/media/unity-logo-dark.png') no-repeat center }
#unity-progress-bar-empty { width: 141px; height: 18px; margin-top: 10px; background: url('https://peterwissa.github.io/website/media/progress-bar-empty-dark.png') no-repeat center }
#unity-progress-bar-full { width: 0%; height: 18px; margin-top: 10px; background: url('https://peterwissa.github.io/website/media/progress-bar-full-dark.png') no-repeat center }
#unity-footer { position: relative }
.unity-mobile #unity-footer { display: none }
#unity-webgl-logo { float:left; width: 204px; height: 38px; background: url('https://peterwissa.github.io/website/media/webgl-logo.png') no-repeat center }
#unity-build-title { float: right; margin-right: 10px; line-height: 38px; font-family: arial; font-size: 18px }
#unity-fullscreen-button { float: right; width: 38px; height: 38px; background: url('https://peterwissa.github.io/website/media/fullscreen-button.png') no-repeat center }
#unity-mobile-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none }

          .nameText {
            color:white
          }

          .background2 {
            background-image:url(media/Background.png);
            position:relative;
            background-size: 100%;
            height: 100%;
            background-repeat: Srepeat;
        }

/*formatting for instruction text*/
@media(min-width:800px) {

.instructionStyle {
        color:white;
        font-size:190%;
        }
}

/*removes instruction text on small devices*/
@media(max-width:800px) {

.instructionStyle {
        display:none;
}
}
        


        .gameSize {
        margin-left:auto;
        margin-right:50%;
        }
        
        @media(min-width:1920px) {
                .gameSize {
                scale:109%;
                float:none;
                
                }
                }

        @media(max-width:1919px) {
                .gameSize {
                scale:100%;
                float:none;
                
                }
                }
        @media(max-width:1280px) {
                .gameSize {
                scale:90%;
                float:none;
                
                }
                }
        @media(max-width:1170px) {
                .gameSize {
                scale:80%;
                float:none;
                
                }
                }
        @media(max-width:1060px) {
                .gameSize {
                scale:70%;
                float:none;
                
                }
                }
        @media(max-width:950px) {
                .gameSize {
                scale:70%;
                float:left;
                
                }
                }
        @media(max-width:887px) {
                .instructionstyle {
                margin-top:-60px;

                }
                }
        @media(max-width:815px) {
                .gameSize {
                scale:65%;
                                    
                }

                .instructionstyle {
                margin-top:-60px;

                }
                }
        @media(max-width:800px) {
                .gameSize {
                scale:65%;
                        
                }
                }

        @media(max-width:750px) {
                .gameSize {
                scale:60%;
                        
                }
                }


        @media(max-width:692px) {
                .gameSize {
                scale:55%;
                        
                }
                }

        @media(max-width:634px) {
                .gameSize {
                scale:50%;
                        
                }
                }

        @media(max-width:576px) {
                .gameSize {
                scale:45%;
                        
                }
                }

        @media(max-width:518px) {
                .gameSize {
                scale:40%;
                        
                }
                }

        @media(max-width:461px) {
                .gameSize {
                scale:35%;
                        
                }
                }

        @media(max-width:403px) {
                .gameSize {
                scale:30%;
                        
                }
                }

        @media(max-width:400px) {
                .gameSize {
                margin-top:-50px;

                }       
                }
                        
        @media(max-width:349px) {
                .gameSize {
                scale:25%;
                        
                }
                }

        @media(max-width:319px) {
                .gameSize {
                margin-top:-90px;
                
                }
                }

        @media(max-width:290px) {
                .gameSize {
                margin-left:-35%;
                scale:20%;

                }
                }