
  .light {
    position: absolute;
    width: 0px;
    opacity: .75;
    background-color: white;
    box-shadow: #e9f1f1 0px 0px 20px 2px;
    opacity: 0;
    top: 100vh;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}
.x1{
  -webkit-animation: floatUp 4s infinite linear;
  animation: floatUp 4s infinite linear;

} 
.x2{
  -webkit-animation: floatUp 7s infinite linear;
  -moz-animation: floatUp 7s infinite linear;

  left: 15%;
}

.x3{
  -webkit-animation: floatUp 2.5s infinite linear;
  -moz-animation: floatUp 2.5s infinite linear;
  transform: scale(.5);
  left: -15%;
}

.x4{
  -webkit-animation: floatUp 4.5s infinite linear;
  -moz-animation: floatUp 4.5s infinite linear;
  transform: scale(1.2);
  left: -34%;
}

.x5{
  -webkit-animation: floatUp 8s infinite linear;
  -moz-animation: floatUp 8s infinite linear;
  transform: scale(2.2);
  left: -57%;
}

.x6{
  -webkit-animation: floatUp 3s infinite linear;
  -moz-animation: floatUp 3s infinite linear;
  transform: scale(.8);
  left: -81%;
}

.x7{
  -webkit-animation: floatUp 5.3s infinite linear;
  -moz-animation: floatUp 5.3s infinite linear;
  transform: scale(3.2);
  left: 37%;
}

.x8{
  -webkit-animation: floatUp 4.7s infinite linear;
  -moz-animation: floatUp 4.7s infinite linear;

  transform: scale(1.7);
  left: 62%;
}

.x9{
  -webkit-animation: floatUp 4.1s infinite linear;
  -moz-animation: floatUp 4.1s infinite linear;
  transform: scale(0.9);
  left: 85%;
}
@-webkit-keyframes floatUp{
  0%{top: 100vh; opacity: 0;}
  25%{opacity: 1;}
  50%{top: 0vh; opacity: .8;}
  75%{opacity: 1;}
  100%{top: -100vh; opacity: 0;}
}
@-moz-keyframes floatUp{
  0%{top: 100vh; opacity: 0;}
  25%{opacity: 1;}
  50%{top: 0vh; opacity: .8;}
  75%{opacity: 1;}
  100%{top: -100vh; opacity: 0;}
}
@-webkit-keyframes fadeIn{
  from{opacity: 0;}
  to{opacity: 1;}
}
@-moz-keyframes fadeIn{
  from{opacity: 0;}
  to{opacity: 1;}
}






.c1{
  -webkit-animation: cfloatUp 6s infinite linear;
  left: -90%;

} 
.c2{
  -webkit-animation: cfloatUp 5s infinite linear;
  left: -70%;
}

.c3{
  -webkit-animation: cfloatUp 4s infinite linear;
  left: -50%;
}

.c4{
  -webkit-animation: cfloatUp 3s infinite linear;
  left: -30%;
}
/*
.c5{
  -webkit-animation: cfloatUp 2s infinite linear;
  left: 0%;
}
*/

.c6{
  -webkit-animation: cfloatUp 3s infinite linear;
  left: 30%;
}
.c7{
  -webkit-animation: cfloatUp 4s infinite linear;
  left: 50%;
}
.c8{
  -webkit-animation: cfloatUp 5s infinite linear;

  left: 70%;
}
.c9{
  -webkit-animation: cfloatUp 6s infinite linear;

  left: 90%;
}

@-webkit-keyframes cfloatUp{
  0%{top: 100vh; opacity: 1;}
  25%{opacity: 1;}
  50%{top: 0vh; opacity: 1;}
  75%{opacity: 1;}
  100%{top: -100vh; opacity: 1;}
}
@-moz-keyframes cfloatUp{
  0%{top: 100vh; opacity: 1;}
  25%{opacity: 1;}
  50%{top: 0vh; opacity: 1;}
  75%{opacity: 1;}
  100%{top: -100vh; opacity: 1;}
}








  .myworkStyle {



    background: linear-gradient(to right, white,blue);
    -webkit-overflow-Y: hidden;
    -moz-overflow-Y: hidden;
    -o-overflow-Y: hidden;
    overflow-y: hidden;
    -webkit-animation: fadeIn 0 0s ease-out;
    -moz-animation: fadeIn 0 0s ease-out;
    
  }














  .myworkBackground {
    background-color: white;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  

  


  .myworkTitle {
    
    font-size: 4em; /*2em = 32px*/
    color: fff; /*white*/
    font-weight: bolder;
  }





  
  .myWork1 {
    margin: 0;
    padding: 0 10;
      float: left;
      font-size: 	3em; /*	25px = 1.5625em*/
      color: fff; /*white*/
  text-decoration:wavy;
  text-shadow: #fff;
  font-weight:bold;
  position:absolute;
  }

  .myWork1-5 {
    padding: 0 10;
      float: left;
      font-size: 1.70em; /*1.25em = 20px*/
      color: #fff; /*white*/
line-height: 50px;
    }

  .myWork2 {
    text-decoration:wavy;
    text-shadow: fff;
    font-weight: bold;
    
  
    margin: 0 10;
    padding: 0;
    float: right;
    font-size: 	3em; /*	25px = 1.5625em*/
    color: #fff; /*white*/
}

  
.myWork2-5 {
    line-height: 50px;
    padding: 0 10;
    float: right;
    font-size: 1.70em; /*1.25em = 20px*/
    color: #fff; /*white*/
    text-align: left;
}

