        .hugesize {
            font-size: 100;
        }
body {
    background-image: repeating-radial-gradient();
    background-color:darkblue;
    border-color: black;
    border-width:10px;
    color: white;
}