                .aboutText {
                  font-size: 1.4375em;   /* 1em = 16px, 1.4375em = 23px*/
                  color: #00FFFF; /*white*/
                }

                .myworkStyle {
                  font-size: 1.25em; /*1.25em = 20px*/
                  color: #00FFFF; /*white*/
                  
                }
                .egyptFlag {
                  width: 35%;
                }
                .codingImage {
                    width: 39%;    
                }




                .github {
                    width: 15vw;
                    padding: 10px;
                    margin: -3.9% 1%;
                    background-color: rgb(135, 34, 148);
                    overflow: hidden;
                    font-size: 4vw;   
                    position: relative;
                    outline: #000000;
                }

                .menu {
                width: 7vw;
                padding: 10px;
                background-color: navy;
                font-size: 0.5m;
                color: #00FFFF;
                float: right;
                }
                
                .menuDropdown {
                    width: 5vw;
                    padding: 7px;
                    background-color: navy;
                    font-size: 0.35m;
                    color: #00FFFF;
                    float: right;
                }

                .topnav {
                    overflow: hidden;
                }
        
                .topnav a {
                    float: left;
                    display: block;
                    color: #f2f2f2;
                    text-align: center;
                    padding: 25px 42px;
                    text-decoration: none;
                    font-size: 17px;
                    position:relative
                }
        
                .topnav a:hover {
                    color: gray;
                }
                .topnav a::before {
                    
                    content:'';
                    display: block;
                    height: 7px;
                    width: 0%;
                    background-color: #444;
                
                    position:relative;
                    top: -15;
                    width: 0%;
                    transition: all ease-in-out 350ms;
                }
                .topnav a:hover::before {
                    width: 100%;
                }

                .topnav a.active {
                    color: gray;                
                }
                .topnav a.active::before {
                    width: 100%;
                }
                .topnav .icon {
                    display: none;
                }




                .RGBcolor {
                    position:absolute;
                    width: 100%;
                    height: 98%;
                    background-image:url(media/Background.png);
                 background-repeat: no-repeat;
                background-size: 99.2%;
                }
                
                .moving-glow:before, .moving-glow:after {
                    content: '';
                    position: absolute;
                    left: -2px;
                    top: -2px;
                    background: linear-gradient(45deg, #000000,#FFFFFF,#FF0000,#00FF00,#0000FF,#FFFF00,#00FFFF,#FF00FF,#C0C0C0,#808080,#800000,#808000,#008000,#800080,#008080,#000080);
                    background-size: 420%;
                    width: calc(100% + 10px);
                    height: calc(100% + 10px);
                    z-index: -1;
                    animation: anim-moving-glow 50s linear infinite;
                  
                }
                
                @keyframes anim-moving-glow {
                    0% {
                        background-position: 0 0;
                    }
                    50% {
                        background-position: 400% 0;
                    }
                    100% {
                        background-position: 0 0;
                    }
                }
                
                .moving-glow:after {
                    filter: blur(30px);
                }
